{% extends 'base.html' %}
{% block content %}
    {% if name %}
        <h3>Account settings for {{ name }}</h3>
    {% endif %}

    <a class="form-group" id="animal" href="/toggle">Toggle between cat or dog</a>

    <form method="POST" enctype="multipart/form-data">
        <h3 align="center">Change Profile Picture</h3>
        <div class="form-group">
            <label for="change_pic">Image: </label>
            <input id="change_pic" type="file" name="new_photo">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}