{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<!-- <h1>Signup Page</h1> -->
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password">
        <!-- can try to make above type "password" if want -->
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock content %}